* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #1f2029;
  color: #d1d2dc;
}

button {
  cursor: pointer;
  border: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
